


 
<div class="mt-3">
  <footer class="footer">
    <div id="foot" class="container text-center">
      <small class="text-muted"> &copy; Made with love by team SHE | <a class="text-muted" href="/about">About</a> | <a class="text-muted" href="https://kshamahebbar1@gmail.com">Mail</a></small>
    </div>  
  </footer>
</div>

