<head><style>
    body {background-color: powderblue;}
    /* h1   {color: blue;}
    p    {color: red;} */
    </style>
    </head>
    
            <label>Approving cyber police or doctors</label>
            
        <a href="status">Approve doctors</a>
        <a href="cyberstatus">Approve cyber police</a>
        