<%-include("partials/header");-%>
<h2>COMPOSE</h2>
<form class="" action="/compose"  method="post">

<div class="form-group">
    <label>Title of query</label>
    <input type="text"name="postquery" class="form-control">
    <label>Content of query</label>
    <textarea name="postbody" class="form-control" rows="8"cols="50"></textarea> 
</div> 

<button type="submit" class="btn btn-primary">Publish</button>
</form>


