<%-include("partials/header");-%>
<html>
<head>
    <title>Health</title>
    <link rel="stylesheet" href="health.css">
    <link rel="icon" href="health.ico">
</head>
<body>
    <div class="header">
        <h1>Woman’s Health</h1>
        <p style="font-size:40px">A woman’s health is her capital</p>
    </div>
    <div class="container">
        <div class="row">
         <div class="col-lg-12">
            <div class="featuredPropBox">
             <ul>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Osteoporosis</h2></div>
                  <div class="fptext">
                   <p>Osteoporosis.
                    Osteoporosis is a disease that causes your bones to weaken, making them susceptible to fractures.Other risk factors can include certain medications, early menopause, a low body mass index (BMI). 
                   </p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Alzheimer’s disease</h2></div>
                  <div class="fptext">
                   <p>  Alzheimer’s disease.
                    Alzheimer’s disease is a form of brain degeneration in which abnormal particles called neurofibrillary tangles and plaques form in the brain and destroy healthy brain cells.
                     </p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Being young</h2></div>
                  <div class="fptext">
                    <p>Being young: Adolescent girls face a number of sexual and reproductive health challenges: STIs, HIV, and
                      pregnancy. </p>
              </div>
                  </a> </li>
               
               
                  <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Maternal health</h2></div>
                  <div class="fptext">
                   <p>Maternal health: Many women are now benefitting from massive improvements in care during pregnancy
                    and childbirth introduced in the last century. But those benefits do not extend everywhere and in 2013,
                    almost 300 000 women died from complications in pregnancy and childbirth. Most of these deaths could
                    have been prevented, had access to family planning and to some quite basic services been in place.</p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Getting older</h2></div>
                  <div class="fptext">
                   <p>Getting older: Having often worked in the home, older women may have fewer pensions and benefits, less
                    access to health care and social services than their male counterparts. Combine the greater risk of poverty
                    with other conditions of old age, like dementia, and older women also have a higher risk of abuse and
                    generally, poor health.</p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Mental health</h2></div>
                  <div class="fptext">
                   <p>Mental health: Evidence suggests that women are more prone than men to experience anxiety,
                    depression, and somatic complaints – physical symptoms that cannot be explained medically. Depression
                    is the most common mental health problem for women and suicide a leading cause of death for women
                    under 60. Helping sensitise women to mental health issues, and giving them the confidence to seek
                    assistance, is vital.</p>
                 </div>
                  </a> </li>
               
               
                  <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Cancer</h2></div>
                  <div class="fptext">
                   <p> Cancer: Two of the most common cancers affecting women are breast and cervical cancers. Detecting
                    both these cancers early is key to keeping women alive and healthy. The latest global figures show that
                    around half a million women die from cervical cancer and half a million from breast cancer each year. The
                    vast majority of these deaths occur in low and middle income countries where screening, prevention and
                    treatment are almost non-existent, and where vaccination against human papilloma virus needs to take
                    hold.</p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Stroke</h2></div>
                  <div class="fptext">
                   <p>Stroke: Each year stroke affects 55,000 more women than men. There are two types of stroke: hemorrhagic, or 
                    bleeding in the brain, and ischemic, or the blockage of a blood vessel that causes impaired blood flow.
                     Although symptoms may vary depending on the underlying cause of stroke, hallmark symptoms include difficulty
                      with speech and numbness of extremities.</p>
                 </div>
                  </a> </li>
                <li> <a href="#">
                  <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Noncommunicable diseases</h2></div>
                  <div class="fptext">
                   <p>Noncommunicable diseases: In 2012, some 4.7 million women died from noncommunicable diseases
                    before they reached the age of 70 —most of them in low- and middle-income countries. </p>
                 </div>
                  </a> </li>
                  
              </ul>
           </div>
          </div>
       </div>
      </div>
    
</body>
</html>
<%-include("partials/footer");-%>