<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Rights</title>
    <link rel="stylesheet" href="legalRights.css">
    <link rel="icon" href="favicon (3).ico">
</head>

<body>
    <div id="bg">
        <div class="header">
            <h1 class="heading">Legal rights</h1>
            <div class="para">
                <p>A single moment can spark a revolution, collective actions can transform laws, creative expression can
                    change attitudes and an invention can alter the course of history. It’s these threads that weave
                    together to propel the women’s movement — even in the face of obstacles. Discover how some of these
                    strands, big and small, have shaped your lives, and the rights and lives of women and girls worldwide.
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
             <div class="col-lg-12">
                <div class="featuredPropBox">
                 <ul>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Rigth against Arrest</h2></div>
                      <div class="fptext">
                       <p>1. Right Against Arrest
                        According to section 46(4) of CrPC, no women can be arrested after sunset and before
                        sunrise. Under exceptional circumstances, a woman’s arrest can only be made by the
                        women police officer after the prior permission of Judicial Magistrate 1st Class.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Equal share in the property</h2></div>
                      <div class="fptext">
                       <p>2. Equal Share in the Property
                        The 2005 amendment of the Hindu Succession Act made a tremendous change. This
                        amendment put an end to the years-long discrimination against the daughters. After this
                        amendment, the daughters become coparceners by birth. It means they will get an equal
                        share in their ancestral property as the son will get.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right not to be called at the police station for Interrogation</h2></div>
                      <div class="fptext">
                       <p>3. Right Not to Be Called at the Police Station for
                        Interrogation
                        As per section 160 of CrPC, women of any age cannot be called to the police station. Her
                        statements can only be recorded at the place she resides in the presence of a women
                        constable and her family members.</p>
                     </div>
                      </a> </li>
                   
                   
                      <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right to safe abortion</h2></div>
                      <div class="fptext">
                       <p>4. Right to Safe Abortion
                        According to section 3(4) of the Medical Termination of Pregnancy Act, 1971, a girl who has
                        not reached the age of 18 has the right to terminate an unwanted pregnancy legally with the
                        consent of her guardians.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right Against being watched</h2></div>
                      <div class="fptext">
                       <p>5. Rights Against Being Watched
                        As per section 354C of IPC, a woman can file a complaint against any man who watches or
                        captures her images in situations where she believes no one is watching .
                        Section 66E of the Information and Technology Act talks of cyber voyeurism. It includes the
                        electronic transmission of files of women engaging in private acts.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right Against Being Stalked</h2></div>
                      <div class="fptext">
                       <p>6. Right Against Being Stalked
                        As per section 354D of IPC, a woman has the right to file a complaint against any man who
                        follows, contacts or attempts to contact her, whether physically or on the cyber world
                        (Facebook, Instagram, etc.)</p>
                     </div>
                      </a> </li>
                   
                   
                      <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right of Streedhan</h2></div>
                      <div class="fptext">
                       <p>7. Right of Streedhan
                        Streedhan includes any property which a woman receives during her lifetime, including:
                        
                         all movable and immovable properties,
                         gifts received before, at the time or after the marriage,
                         gifts received during childbirth,
                         and it also includes her personal earnings.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right to Get Free Legal Aid</h2></div>
                      <div class="fptext">
                       <p>8. Right to Get Free Legal Aid
                        As per section 12(c) of the Legal Services Authorities Act, 1987, any aggrieved woman is
                        eligible to get free legal aid despite her financial status.</p>
                     </div>
                      </a> </li>
                    <li> <a href="#">
                      <div class="fplogo"><h2 style="text-align:center; color: antiquewhite;">Right Against Sexual Harassment</h2></div>
                      <div class="fptext">
                       <p>12. Right Against Sexual Harassment
                        Sexual harassment generally refers to any type of unwanted physical contact, sexual
                        actions, comments, sexual advances, requests for sexual favours, etc., made by a man to a
                        woman.</p>
                     </div>
                      </a> </li>
                      
                  </ul>
               </div>
              </div>
           </div>
          </div>
        <div class="footer">

        </div>
    </div>
</body>

</html>
<%- include('partials/footer') %>